cloud-regionsrv-client-plugin-gce
gcimagebundle
google-cloud-sdk
google-compute-engine-init
google-compute-engine-oslogin
google-daemon
google-startup-scripts
python-gcemetadata
python3-gcemetadata
regionServiceClientConfigGCE
regionServiceClientConfigSAPGCE
supportutils-plugin-suse-public-cloud
