[Unit]
Description=Obtain Cloud SMT info and register with the SMT server
After=network-online.target
Before=cloud-final.service waagent.service google-startup-scripts.service
Wants=network-online.target

[Service]
ExecStart=/usr/sbin/registercloudguest
Type=oneshot

[Install]
WantedBy=multi-user.target
