[Unit]
Description=Setup Docker image storage
Requires=local-fs.target
After=local-fs.target
Before=docker.service

[Service]
ExecStart=/usr/sbin/docker-img-store-setup

[Install]
WantedBy=multi-user.target
