[Unit]
Description=Configuration update service for servers, configure "After" as needed
After=apache2.service
After=haproxy.service

[Service]
ExecStart=/usr/sbin/serviceAccessConfig
Type=simple

[Install]
WantedBy=multi-user.target
